
header nav {
  background-color: var(--theme-color);
  height: 90px;
  padding: 0px 50px;
  display: flex;
  align-items: center;
}

header .logo {
  height: 65px;
  margin-top: 2px;
}

header .nav-right {
  margin-left: auto;
}

/* 画面を縮小した時に文字は消す */
header .link-msg::after {
  content: " 落単情報を登録";
}


@media screen and (max-width: 768px) {
  header nav {
    padding: 0px 16px;
    height: 60px;
  }

  header .logo {
    height: 40px;
  }

  header .link-msg::after {
    content: "";
  }
}
