.catchphrase {
  font-family: 'Kosugi Maru', "ヒラギノ丸ゴ Pro W4", sans-serif;
  letter-spacing: 0.1em;
}

.precaution {
  font-size: 0.5rem;
  text-align: left;
  margin: 5px;
}

.announce {
  padding-top: 10px;
}

.top .search {
  max-width: 600px;
  margin: 20px auto;
}

#search-bar a {
  background-color: var(--theme-color);
  letter-spacing: 0.5rem;
  text-indent: 0.5rem;
  text-align: center;
  padding: 0px 25px;
}

#search-bar a:hover {
  opacity: 0.95;
}

#search-bar a:active {
  background-color: var(--theme-color-hover);
}

.top .strong {
  font-size: 1.1em;
}
