body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --theme-color: #4A6151;
  --theme-color-hover: #667d6e;
  --theme-color-light: #97ad9e;
}

/* for development */

.pink {
  background-color: pink;
}

.blue {
  background-color: skyblue;
}

.ht-5 {
  height: 500px;
}
